td {
  border: 1px solid black;
  text-align: center;
  width: 20px;
  height: 20px;
}

.moveBoard > table > tbody > tr >td:hover {
  background-color: yellow;
}

.hit {
  background-color: red;
}

.miss {
  background-color: yellow;
}

.ship {
  background-color: blue;
}
